{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Products list</h1>
    <br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.description }}</td>
                <td><img src="{{ vich_uploader_asset(product, 'imageFile') }}" width="50px"></td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                    <a href="{{ path('shoppingcart_add', {'id': product.id}) }}" class="btn btn-success btn-sm">Ajouter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
