{% block body %}
<hr>
<h1 class="h3 mb-3 font-weight-normal">Search a product</h1>

    <div class="mx-auto text-center">
    {{ form_start(searchForm) }}
    {{ form_row(searchForm.name, {'label': " ", 'attr': {'placeholder': 'keyword...'}}) }}
    <button class="btn btn-primary">Search</button>
    {{ form_end(searchForm) }}
    <br><br>
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.description }}</td>
                <td><img src="{{ vich_uploader_asset(product, 'imageFile') }}" width="50px"></td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        
            <div class="pagination">
              {{ knp_pagination_render(products) }}
           </div>

{% endblock %}
