{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

<div class="example-wrapper">
    <h1 class="h3 mb-3 font-weight-normal">Contact</h1>

    <div class="mx-auto text-left">
    {{ form_start(contactForm) }}
    {{ form_row(contactForm.name) }}
    {{ form_row(contactForm.firstName) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.subject) }}
    {{ form_row(contactForm.message, {'label': " ", 'attr': {'placeholder': 'Your message...'}}) }}
    <button class="btn btn-primary">Search</button>
    {{ form_end(contactForm) }}
</div>
{% endblock %}
